@import "../../../../styles/theme";

.alb-giphy-search-input {
  display: block;
  border: 2px solid transparent;
  max-width: 50%;
  padding: 10px 20px;
  margin: 10px auto;
  border-bottom-color: $primary-color;
  transition: border-color 0.5s ease;
  will-change: border-color;

  &:focus {
    border-color: $primary-color;
  }
}
