@import "../../styles/theme";

.alb-button {
  padding: 5px 20px;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background-color: $primary-color;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  &:disabled {
    background-color: gray !important;
    cursor: not-allowed;
  }

  &.alb-button--accent {
    border: 2px solid $accent-color;
    background-color: transparent;
    color: $accent-color;
  }
}
